version: '3'
services:
  nginx:
    image: "{{ nginx_docker_image }}"
{% if nginx_docker_volumes | length > 0 %}
    volumes: 
{% for volume in nginx_docker_volumes %}
      - "{{ volume }}"
{% endfor %}
{% endif %}
{% if nginx_docker_ports | length > 0 %}
    ports:
{% for port in nginx_docker_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if nginx_docker_expose | length > 0 %}
    expose: 
{% for port in nginx_docker_expose %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if nginx_docker_environment | length > 0 %}
    environment: 
{% for env in nginx_docker_environment %}
      - {{ env }}
{% endfor %}
{% endif %}
{% if nginx_docker_networks | length > 0 %}
    networks: 
{% for network in nginx_docker_networks %}
      - {{ network.name }}
{% endfor %}
{% endif %}

{% for network in nginx_docker_networks %}
networks:
  {{ network.name }}:
{% if network.external is defined %}
external: {{ network.external }}
{% endif %}
{% if network.driver is defined %}
    driver: {{ network.driver }}
{% endif %}
{% endfor %}
